In [23]:
# Import dependencies
from requests_html import HTMLSession, AsyncHTMLSession
import pandas as pd
session = AsyncHTMLSession()

In [24]:
# Get page
r = await session.get("https://www.ourlads.com/nfldepthcharts/depthcharts.aspx")
await r.html.arender()

In [25]:
element = r.html.find('#ctl00_phContent_gvChart')[0].html

In [110]:
# Convert to df
df = pd.read_html(element)[0]
# Filter for only the needed columns
df = df[['Team', 'Pos', 'Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5']]
# Rename columns of Position Ranks; limit number of ranks to three
df = df.rename(columns={
    'Player 1':'1',
    'Player 2':'2',
    'Player 3':'3',
    'Player 4':'3',
    'Player 5':'3',
})
# Filter only relevant positions
posList = ['LWR', 'RWR', 'SWR', 'TE', 'QB', 'RB', 'PK', 'PR', 'KR', 'RES']
df = df.loc[df['Pos'].isin(posList)]

# Transpose columns to rows to get position ranks in row form rather than column
df = df.melt(id_vars=["Team", "Pos"], 
    var_name="posRank", 
    value_name="playerName")
    # Rename columns to match MyFantasyLeague
df = df.rename(columns={'Team':'team', 'Pos':'pos'})
# Create id_ourlads column
df = df.dropna(subset='playerName')
df['lName'] = df['playerName'].str.split(", ", expand=True)[0]
df['fName'] = df['playerName'].str.split(", ", expand=True)[1].str.split(" ", expand=True)[0]
df['id_ourlads'] = df['fName'] + " " + df['lName']
df['id_ourlads'] = df['id_ourlads'].str.replace(".", "")
df['id_ourlads'] = df['id_ourlads'].str.title()
df['id_ourlads'] = [" ".join(x.split(" ")[:2]) for x in df['id_ourlads']]

# Highlight PR & KRs
cond1 = df['pos']=='PR'
cond2 = df['pos']=='KR'
cond3 = df['posRank']=="1"
prs = df.loc[cond1 & cond3]['id_ourlads'].unique()
krs = df.loc[cond2 & cond3]['id_ourlads'].unique()
df.loc[df['id_ourlads'].isin(prs), 'PR'] = True
df.loc[df['id_ourlads'].isin(krs), 'KR'] = True

# Reduce
df = df.loc[(df['PR']==True) | (df['KR']==True)]
df = df.drop_duplicates(subset='id_ourlads', ignore_index=True)
df = df[['id_ourlads', 'PR', 'KR']]

In [111]:
# Merge in id_dict
ids = pd.read_csv('data_sharks/id_dict.csv', dtype={'player_id':str, 'id_player_sharks':str})
ids = ids[['id_ourlads', 'player_id']]
df = df.merge(ids, how='left', on='id_ourlads')
df

               id_ourlads    PR    KR player_id
0             Greg Dortch  True  True      5970
1              Dee Alford  True   NaN       NaN
2   Cordarrelle Patterson   NaN  True      1535
3          Devin Duvernay  True  True      6847
4            Deonte Harty  True  True      6234
5       Raheem Blackshear  True  True      8255
6            Trent Taylor  True   NaN      4218
7             Tyler Scott   NaN  True      9490
8           Charlie Jones  True  True     10228
9   Donovan Peoples-Jones  True   NaN      6824
10            Jerome Ford   NaN  True      8143
11        Kavontae Turpin  True  True      8917
12            Marvin Mims  True  True      9494
13          Kalif Raymond  True  True      3634
14          Keisean Nixon  True  True       NaN
15              Tank Dell  True   NaN      9502
16           John Metchie   NaN  True      8147
17        Isaiah Mckenzie  True   NaN      4197
18         Dallis Flowers   NaN  True       NaN
19            Jamal Agnew  True  True      4198
20           Richie James  True  True      5137
21           Derius Davis  True  True     10234
22             Puka Nacua  True   NaN      9493
23         Kyren Williams   NaN  True      8150
24         Deandre Carter  True  True      2750
25        Braxton Berrios  True  True      5121
26         Brandon Powell  True   NaN      5695
27            Ty Chandler   NaN  True      8230
28           Marcus Jones  True  True       NaN
29         Rashid Shaheed  True  True      8676
30              Eric Gray  True   NaN     10223
31        Gary Brightwell   NaN  True      7529
32         Mecole Hardman  True  True      5917
33      Olamide Zaccheaus  True   NaN      6271
34           Boston Scott   NaN  True      5122
35          Calvin Austin  True  True      8125
36          Deejay Dallas  True  True      6931
37        Ray-Ray Mccloud  True  True      5096
38        Deven Thompkins  True  True      8253
39           Tyjae Spears  True   NaN      9508
40        Julius Chestnut   NaN  True      8254
41              Dax Milne  True   NaN      7751
42         Antonio Gibson   NaN  True      6945

In [112]:
df.to_csv('data_sharks/prkr.csv', index=False)